<html>

<head>
     <!--  Importing Stylesheet-->
      <link href="/static/css/main.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
   
<title>Page not found</title>
<body id="album_info">
    
      <a href="/music">
         <h1 class="link1">Back to Album Directory</h1>
      </a>
      <h1 class="maintext">Without Music, life would be a mistake</h1>
      
         <h4 class="text">No music here, return to the party! </h4>
    
         <a href="/music/the_beatles">
            <h4 class="link2">Hey Jude, lets go to The Beatles album!</h4>
         </a>
    

  
   </body>
</html>
