
<html>
   <head>
      <!--  Importing Stylesheets / Custom Font-->

      <link href="/static/css/main.css" rel="stylesheet" type="text/css">
      <link href="/static/css/music.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
      <title>Bepop</title>
   </head>
   <!-- Image Background-->

   <body background={{url_for('static', filename="musicback/back_all.png")}}></body>
   <!-- Main UI for page--!>
   <div class="row">
      <div class="section" >
         <!-- Cover -->
         <img src="/static/albumcovers/coldplay.png" alt="coldplay" class="album_cover">
      </div>
      <div class="section2" id="album_info">
         <!-- Info -->

         <h1 class="album_title">Coldplay</h1>
         <h4 class="album_date"> Mylo Xyloto • 2011 • Pop/Electronic   </h4>        
         <font size="4" color="red">NME Magazine Rating:  </font>
         <img src="/static/listens/1star.png" alt="rating" width="190" height="52" align="middle">
        <h4 class="album_heading">Album Background</h4>
         <h4 class="album_desc">Fifth studio album created by Coldplay who are of British origin. Mylo Xyloto is a concept album and thematic rock opera. the album tells the story of a war against sound and colour by a supremacist government, set in the world of silencia, an orwellian society. The album received mixed to positive reviews from the music critics. </h4>
         <h4 class="album_heading">Band Members</h4>
         <div class="band_row">
            <div class="band_section">
               <span class="band">Chris Martin</span>
               <span class="band_role">Lead Vocals/Pianist</span>
            </div>           
            <div class="band_section">
               <span class="band">Guy Berryman</span>
               <span class="band_role">Bass Guitar</span>
            </div>
            <div class="band_section">
               <span class="band">Jonny Buckland</span>
               <span class="band_role">Electric Guitar</span>
            </div>
            <div class="band_section">
               <span class="band">Will Champion</span>
               <span class="band_role">Drums</span>
            </div>

      </div>
   </div>
</html>
