
<html>
   <head>
      <!--  Importing Stylesheets / Custom Font-->

      <link href="/static/css/main.css" rel="stylesheet" type="text/css">
      <link href="/static/css/music.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
      <title>Bepop</title>
   </head>
   <!-- Image Background-->
   <body background={{url_for('static', filename="musicback/back_all.png")}}></body>
   <!-- Main UI for page--!>
   <div class="row">
      <div class="section" >
         <!-- Cover -->
         <img src="/static/albumcovers/elvis.png" alt="nirvana" class="album_cover">
      </div>
      <div class="section2" id="album_info">
         <!-- Info -->
         <h1 class="album_title">Elvis Pressley</h1>
         <h4 class="album_date"> Sunrise • 1999 • Rock   </h4>        
         <font size="4" color="red">AllMusic Rating:  </font>
         <img src="/static/listens/5star.png" alt="rating" width="190" height="52" align="middle">
        <h4 class="album_heading">Album Background</h4>
        <h4 class="album_desc">Sunrise is a 2 disc compilation of Elvis Pressley's studio recordings at Sun Studio from 1953 to 1955, released in 1999. This set features all of the surviving master recordings made my Pressley. </h4>
         <h4 class="album_heading">Band Members</h4>
         <div class="band_row">
            <div class="band_section">
               <span class="band">Elvis Pressley</span>
               <span class="band_role">Solo Artist</span>
     </div>
  </div>
		<a href="://www.musixhub.com/details.php?t=a&a=Elvis%20Presley&at=Sunrise" class="album desc">
		<button class = "buttonlink button_border">Listen To Album</button>

    </div>
</html>
