
<html>
   <head>
      <!--  Importing Stylesheets / Custom Font-->

      <link href="/static/css/main.css" rel="stylesheet" type="text/css">
      <link href="/static/css/music.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
      <title>Bepop</title>
   </head>
   <!-- Image Background-->

   <body background={{url_for('static', filename="musicback/back_all.png")}}></body>
   <!-- Main UI for page--!>
   <div class="row">
      <div class="section" >
         <!-- Cover -->
         <img src="/static/albumcovers/greenday.png" alt="greenday" class="album_cover">
      </div>
      <div class="section2" id="album_info">
         <!-- Info -->

         <h1 class="album_title">Green Day</h1>
         <h4 class="album_date"> Dookie • 1994 • Punk Rock   </h4>        
         <font size="4" color="red">NME Magazine Rating:  </font>
         <img src="/static/listens/2star.png" alt="rating" width="190" height="52" align="middle">
        <h4 class="album_heading">Album Background</h4>
         <h4 class="album_desc">This was the third album by American punk rock band Greenday released on February 1st 1994. It was the band first collaboration with producer Rob Cavallo and its major record label debut. </h4>
         <h4 class="album_heading">Band Members</h4>
         <div class="band_row">
            <div class="band_section">
               <span class="band">Billie Joe Armstrong</span>
               <span class="band_role">Lead Vocals</span>
            </div>
            <div class="band_section">
               <span class="band">Mike Dirnt</span>
               <span class="band_role">Bass</span>
            </div>
            <div class="band_section">
               <span class="band">Tre Cool</span>
               <span class="band_role">Drums</span>
            </div>

      </div>
   </div>
</html>
