
<html>
   <head>
      <!--  Importing Stylesheets / Custom Font-->

      <link href="/static/css/main.css" rel="stylesheet" type="text/css">
      <link href="/static/css/music.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
      <title>Bepop</title>
   </head>
   <!-- Image Background-->

   <body background={{url_for('static', filename="musicback/back_all.png")}}></body>
   <!-- Main UI for page--!>
   <div class="row">
      <div class="block" >
         <!-- Cover -->
         <img src="/static/albumcovers/kaiser.png" alt="kaiserchiefs" class="album_cover">
      </div>
      <div class="block2" id="album_info">
         <!-- Info -->
         <h1 class="album_title">Kaiser Chiefs</h1>
         <h4 class="album_date">Off With Their Heads  • Rock • 2005 </h4>     
         <!--img src="/static/listens/star.png" alt="rating" class="rating"--> 
         <!--h4 class="rating2">NME Magazine Rating: 4/5 </h4-->
         
         <font size="4" color="red">NME Magazine Rating:  </font>
         <img src="/static/listens/4star.png" alt="rating" width="190" height="52" align="middle">
         <h4 class="album_heading">Album Background</h4>
         <h4 class="album_desc">Off With Their Heads is the third studio album by English Rock</h4>
         <h4 class="album_heading">Band Members</h4>
         <div class="band_row">
            <div class="band_block">
               <span class="band">blah</span>
               <span class="band_role">Bass</span>
            </div>           
            <div class="band_block">
               <span class="band">michael</span>
               <span class="band_role">Lead singer</span>
            </div>
            <div class="band_block">
               <span class="band">nicky tee</span>
               <span class="band_role">drummer</span>
            </div>           

      </div>
   </div>
</html>
