 
<html>
   <head>
      <!--  Importing Stylesheets / Custom Font-->

      <link href="/static/css/main.css" rel="stylesheet" type="text/css">
      <link href="/static/css/music.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
      <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
      <title>Bepop</title>
   </head>
   <!-- Image Background-->

   <!-- Main UI for page -->
   <div class="row">
      <div class="block">
         <!-- Cover -->
         <img src="/static/albumcovers/kaiser.png" alt="kaiser" class="album_cover">
      </div>
      <div class="block2" id="album_info">
         <!-- Info -->
         <!-- Info -->
         <h1 class="album_title">nirvana</h1>
         <h4 class="album_date">2017  • Rock • </h4>
         <img src="/static/rating/stars_3.png" alt="3 Stars" class="stars">
         <h4 class="album_subtitle">Overview:</h4>
         <h4 class="album_desc">blah blah blah.</h4>
         <h4 class="album_subtitle">Featured Members:</h4>
         <div class="band_row">
            <div class="band_block">
               <span class="band">blah</span>
               <span class="band_role">Bass</span>
            </div>
      </div>
   </div>
</html>
