
<html>
   <head>
      <!--  Importing Stylesheets / Custom Font-->

      <link href="/static/css/main.css" rel="stylesheet" type="text/css">
      <link href="/static/css/music.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
      <title>Bepop</title>
   </head>
   <!-- Image Background-->

   <body background={{url_for('static', filename="musicback/back_all.png")}}></body>
   <!-- Main UI for page--!>
   <div class="row">
      <div class="block" >
         <!-- Cover -->
         <img src="/static/albumcovers/killer.png" alt="thekillers" class="album_cover">
      </div>
      <div class="block2" id="album_info">
         <!-- Info -->

         <h1 class="album_title">The Killers</h1>
         <h4 class="album_date"> Day & Age • 2008 • Dance-Rock   </h4>        
         <font size="4" color="red">NME Magazine Rating:  </font>
         <img src="/static/listens/3star.png" alt="rating" width="190" height="52" align="middle">
        <h4 class="album_heading">Album Background</h4>
         <h4 class="album_desc">This is the third studio album by American Rock band The Killers. It was released on November                                18,2008,by Island Records. Lead singer Brandon Flowers stated it is the band most playful record. </h4>
         <h4 class="album_heading">Band Members</h4>
         <div class="band_row">
            <div class="band_block">
               <span class="band">Brandon Flowers</span>
               <span class="band_role">Lead Vocals</span>
            </div>           
            <div class="band_block">
               <span class="band">Ronnie Vannucci Jr</span>
               <span class="band_role">Drummer</span>
            </div>
            <div class="band_block">
               <span class="band">Mark Stoermer</span>
               <span class="band_role">Guitar</span>
            </div>
            <div class="band_block">
               <span class="band">Dave Keuning</span>
               <span class="band_role">Piano</span>
            </div>

      </div>
   </div>
</html>


