<html>
   <body style="background-color: black;">
      <!--  Importing Stylesheets / Custom Font-->
      <link href="static/css/main.css" rel="stylesheet" type="text/css">
      <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
      <title>Bepop</title>
      <!-- Main UI for page -->
      <!-- ROW 1 -->
      <div class="row" id="album_info">
         <!-- Album Cover/Info -->
         <div class="item">
            <a href="music/nirvana"><img src="/static/albumcovers/nirvana1.png" width="100%"/></a>
            <span class="caption">Nirvana</span>
            <span class="caption_date">1983</span>
         </div>
         
         <div class="item">
         <a href="music/kaiser"><img src="/static/albumcovers/kaiser.png" width="100%"/></a>
         <span class="caption">Kaiser Chiefs</span>
         <span class="caption_date">1999</span> 
        </div>

         <div class="item">
         <a href="music/killers"><img src="/static/albumcovers/killer.png" width="100%"/></a>
         <span class="caption">The Killers</span>
         <span class="caption_date">2010</span> 
        </div>

         <div class="item">
         <a href="music/elvis"><img src="/static/albumcovers/elvis.png" width="100%"/></a>
         <span class="caption">Elvis Pressley</span>
         <span class="caption_date">1969</span> 
        </div>

        </div>
   </body>
</html>
