<html>
   <body style="background-color: black;">
      <!--  Importing Stylesheets / Custom Font-->
      <link href="static/css/main.css" rel="stylesheet" type="text/css">
      <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
      <title>Bepop</title>
      <!-- Main UI for page -->
      <!-- ROW 1 -->
      <div class="row" id="album_info">
         <!-- Album Cover/Info -->
         <div class="item">
            <a href="music/nirvana"><img src="/static/albumcovers/nirvana1.png" width="100%"/></a>
            <span class="caption">Nirvana</span>
            <span class="caption">1983</span>
         </div>
         
         <div class="item">
         <a href="music/kaiser"><img src="/static/albumcovers/kaiser.png" width="100%"/></a>
         <span class="caption">Kaiser Chiefs</span>
         <span class="caption">1999</span> 
        </div>

         <div class="item">
         <a href="music/killers"><img src="/static/albumcovers/killer.png" width="100%"/></a>
         <span class="caption">The Killers</span>
         <span class="caption">Day & Age</span> 
        </div>

         <div class="item">
         <a href="music/elvis"><img src="/static/albumcovers/elvis.png" width="100%"/></a>
         <span class="caption">Elvis Pressley</span>
         <span class="caption">Sunrise</span> 
        </div>

         <div class="item">
         <a href="music/blackeyepeas"><img src="/static/albumcovers/blackeyedpeas.png" width="100%"/></a>
         <span class="caption">Black Eyed Peas</span>
         <span class="caption">The End</span> 
        </div>
       

         <div class="item">
         <a href="music/theclash"><img src="/static/albumcovers/clash1.png" width="100%"/></a>
         <span class="caption">The Clash</span>
         <span class="caption">London Calling</span> 
        </div>

      <!-- ROW 2 -->
      <div class="row2" id="album_info">
         <!-- Album Cover/Info -->
         <div class="item">
            <a href="music/takethat"><img src="/static/albumcovers/takethat.png" width="100%"/></a>
            <span class="caption">Take That</span>
            <span class="caption">Progress</span>
         </div>
         
         <div class="item">
         <a href="music/thestoneroses"><img src="/static/albumcovers/thestoneroses.png" width="100%"/></a>
         <span class="caption">The Stone Roses</span>
         <span class="caption">Stone Roses Debut Album</span> 
        </div>

         <div class="item">
         <a href="music/killers"><img src="/static/albumcovers/killer.png" width="100%"/></a>
         <span class="caption">The Killers</span>
         <span class="caption">Day & Age</span> 
        </div>

         <div class="item">
         <a href="music/michaeljackson"><img src="/static/albumcovers/michaeljackson.png" width="100%"/></a>
         <span class="caption">Michael Jackson</span>
         <span class="caption">Thriller</span> 
        </div>

         <div class="item">
         <a href="music/blackeyepeas"><img src="/static/albumcovers/blackeyedpeas.png" width="100%"/></a>
         <span class="caption">Black Eyed Peas</span>
         <span class="caption">The End</span> 
        </div>
       

         <div class="item">
         <a href="music/theclash"><img src="/static/albumcovers/clash1.png" width="100%"/></a>
         <span class="caption">The Clash</span>
         <span class="caption">London Calling</span> 
        </div>

      <!-- ROW 3 -->
      <div class="row3" id="album_info">
         <!-- Album Cover/Info -->
         <div class="item">
            <a href="music/nirvana"><img src="/static/albumcovers/nirvana1.png" width="100%"/></a>
            <span class="caption">Nirvana</span>
            <span class="caption">1983</span>
         </div>
         
         <div class="item">
         <a href="music/kaiser"><img src="/static/albumcovers/kaiser.png" width="100%"/></a>
         <span class="caption">Kaiser Chiefs</span>
         <span class="caption">1999</span> 
        </div>

         <div class="item">
         <a href="music/killers"><img src="/static/albumcovers/killer.png" width="100%"/></a>
         <span class="caption">The Killers</span>
         <span class="caption">Day & Age</span> 
        </div>

         <div class="item">
         <a href="music/elvis"><img src="/static/albumcovers/elvis.png" width="100%"/></a>
         <span class="caption">Elvis Pressley</span>
         <span class="caption">Sunrise</span> 
        </div>

         <div class="item">
         <a href="music/blackeyepeas"><img src="/static/albumcovers/blackeyedpeas.png" width="100%"/></a>
         <span class="caption">Black Eyed Peas</span>
         <span class="caption">The End</span> 
        </div>
       

         <div class="item">
         <a href="music/theclash"><img src="/static/albumcovers/clash1.png" width="100%"/></a>
         <span class="caption">The Clash</span>
         <span class="caption">London Calling</span> 
        </div>

 </div>
   </body>
</html>
