
<html>
   <head>
      <!--  Importing Stylesheets / Custom Font-->

      <link href="/static/css/main.css" rel="stylesheet" type="text/css">
      <link href="/static/css/music.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
      <title>Bepop</title>
   </head>
   <!-- Image Background-->
   <body background={{url_for('static', filename="musicback/back_all.png")}}></body>
   <!-- Main UI for page--!>
   <div class="row">
      <div class="section" >
         <!-- Cover -->
         <img src="/static/albumcovers/michaeljackson.png" alt="michaeljackson" class="album_cover">
      </div>
      <div class="section2" id="album_info">
         <!-- Info -->
         <h1 class="album_title">Michael Jackson</h1>
         <h4 class="album_date"> Thriller • 1982 • Pop   </h4>        
         <font size="4" color="red">AllMusic Rating:  </font>
         <img src="/static/listens/5star.png" alt="rating" width="190" height="52" align="middle">
        <h4 class="album_heading">Album Backgiround</h4>
        <h4 class="album_desc">Thriller was the sixth studio album by American Singer Michael Jackson, released on November 30, 1982. It explores genres similar to his previous album Off The Wall, including pop, post-disco and rock. </h4>
         <h4 class="album_heading">Band Members</h4>
         <div class="band_row">
            <div class="band_section">
               <span class="band">Michael Jackson</span>
               <span class="band_role">Solo Artist</span>
</div>
		<a href="https://www.musixhub.com/details.php?t=a&a=Michael%20Jackson&at=Thriller" class="album desc">
		<button class = "buttonlink button_border">Listen To Album</button>

</div>
</html>

