
<html>
   <head>
      <!--  Importing Stylesheets / Custom Font-->

      <link href="/static/css/main.css" rel="stylesheet" type="text/css">
      <link href="/static/css/music.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
      <title>Bepop</title>
   </head>
   <!-- Image Background-->

   <body background={{url_for('static', filename="musicback/back_all.png")}}></body>
   <!-- Main UI for page--!>
   <div class="row">
      <div class="section" >
         <!-- Cover -->
         <img src="/static/albumcovers/muse.png" alt="muse" class="album_cover">
      </div>
      <div class="section" id="album_info">
         <!-- Info -->

         <h1 class="album_title">Muse</h1>
         <h4 class="album_date"> Black Holes and Revelations • 2005 • Alternative Rock</h4>        
         <font size="4" color="red">NME Magazine Rating:  </font>
         <img src="/static/listens/4star.png" alt="rating" width="190" height="52" align="middle">
        <h4 class="album_heading">Album Background</h4>
         <h4 class="album_desc">This is the fourth studio album created by English rock band Muse. The album gets its title from a line in the song  <a href="https://www.youtube.com/watch?v=Pgum6OT_VH8"> Starlight</a> , which is the second track on the album. Recording was split between New York and France, and it was the first time they had taken a more active role in the albums production. </h4>
         <h4 class="album_heading">Band Members</h4>
         <div class="band_row">
            <div class="band_section">
               <span class="band">Matthew Bellamy</span>
               <span class="band_role">Lead Vocals</span>
            </div>           
            <div class="band_section">
               <span class="band">Christopher Wolstenholme</span>
               <span class="band_role">Bass Guitar and Backing Vocals</span>
            </div>
            <div class="band_section">
               <span class="band">Dominic Howard</span>
               <span class="band_role">Drume</span>
            </div>
</div>
		<a href="https://www.musixhub.com/details.php?t=a&a=Muse&at=Black%20Holes%20and%20Revelations" class="album desc">
		<button class = "buttonlink button_border">Listen To Album</button>
      
   </div>
</html>
