<html>
   <head>
      <!--  Importing Stylesheets / Custom Font-->

      <link href="/static/css/main.css" rel="stylesheet" type="text/css">
      <link href="/static/css/music.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
      <title>Bepop</title>
   </head>
   <!-- Image Background-->

   <body background={{url_for('static', filename="musicback/back_all.png")}}></body>
   <!-- Main UI for page -->
   <div class="row">
      <div class="block">
         <!-- Cover -->
         <img src="/static/albumcovers/nirvana1.png" alt="nirvana" class="album_cover">
      </div>
      <div class="block2" id="album_info">
         <!-- Info -->
         <!-- Info -->
         <h1 class="album_title">nirvana</h1>
         <h4 class="album_date">2017  • Rock • </h4>        
         <img src="/static/listens/star.png" alt="rating" class="rating">
         <h4 class="album_heading">Album Background:</h4>
         <h4 class="album_desc">blah blah blah.</h4>
         <h4 class="album_heading">Band Members:</h4>
         <div class="band_row">
            <div class="band_block">
               <span class="band">blah</span>
               <span class="band_role">Bass</span>
            </div>           
            <div class="band_block">
               <span class="band">michael</span>
               <span class="band_role">Lead singer</span>
            </div>
      </div>
   </div>
</html>
