
<html>
   <head>
      <!--  Importing Stylesheets / Custom Font-->

      <link href="/static/css/main.css" rel="stylesheet" type="text/css">
      <link href="/static/css/music.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
      <title>Bepop</title>
   </head>
   <!-- Image Background-->

   <body background={{url_for('static', filename="musicback/back_all.png")}}></body>
   <!-- Main UI for page--!>
   <div class="row">
      <div class="block" >
         <!-- Cover -->
         <img src="/static/albumcovers/nirvana1.png" alt="nirvana" class="album_cover">
      </div>
      <div class="block2" id="album_info">
         <!-- Info -->

         <h1 class="album_title">Nirvana</h1>
         <h4 class="album_date"> Nevermind • 1991 • Alternative Rock   </h4>        
         <font size="4" color="red">NME Magazine Rating:  </font>
         <img src="/static/listens/5star.png" alt="rating" width="190" height="52" align="middle">
        <h4 class="album_heading">Album Background</h4>
         <h4 class="album_desc">Nevermind is the second studio album by American rock band Nirvana, released on September 24,                                1991 by DGC Records. Produced by Butch Vig, it was the band's first release on the label, as                                 well as the first to feature drummer Dave Grohl. Despite low commercial expectations, the alb                                um became a surprise success. </h4>
         <h4 class="album_heading">Band Members</h4>
         <div class="band_row">
            <div class="band_block">
               <span class="band">Kurt Cobain</span>
               <span class="band_role">Lead Vocals/Electric Guitarist</span>
            </div>           
            <div class="band_block">
               <span class="band">Dave Grohl</span>
               <span class="band_role">Drummer</span>
            </div>
            <div class="band_block">
               <span class="band">Krist Novoselic</span>
               <span class="band_role">Bass Guitar</span>
            </div>
      </div>
   </div>
</html>

