
<html>
   <head>
      <!--  Importing Stylesheets / Custom Font-->

      <link href="/static/css/main.css" rel="stylesheet" type="text/css">
      <link href="/static/css/music.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
      <title>Bepop</title>
   </head>
   <!-- Image Background-->

   <body background={{url_for('static', filename="musicback/back_all.png")}}></body>
   <!-- Main UI for page--!>
   <div class="row">
      <div class="section" >
         <!-- Cover -->
         <img src="/static/albumcovers/radiohead.png" alt="radiohead" class="album_cover">
      </div>
      <div class="section" id="album_info">
         <!-- Info -->

         <h1 class="album_title">Radiohead</h1>
         <h4 class="album_date"> OK COMPUTER • 1997 • Alternative Rock   </h4>        
         <font size="4" color="red">NME Magazine Rating:  </font>
         <img src="/static/listens/3star.png" alt="rating" width="190" height="52" align="middle">
        <h4 class="album_heading">Album Background</h4>
         <h4 class="album_desc">This was the third studio album created by Radiohead. OK COMPUTER reached number 1 in the UK charts despite lower sales being estimated. This has now been named as one of the greatest albums ever made. </h4>
         <h4 class="album_heading">Band Members</h4>
         <div class="band_row">
            <div class="band_section">
               <span class="band">Thom Yorke</span>
               <span class="band_role">Lead Vocals</span>
            </div>           
            <div class="band_section">
               <span class="band">Jonny Greenwood</span>
               <span class="band_role">Guitar</span>
            </div>
            <div class="band_section">
               <span class="band">Phil Selway</span>
               <span class="band_role">Drums/Percussion</span>
            </div>
            <div class="band_section">
               <span class="band">Ed O'Brien</span>
               <span class="band_role">Guitar</span>
            </div>
            <div class="band_section">
               <span class="band">Colin Greenwood</span>
               <span class="band_role">Bass Guitar</span>
            </div>

      </div>
		<a href="https://www.musixhub.com/details.php?t=a&a=Radiohead&at=OK%20Computer" class="album desc">
		<button class = "buttonlink button_border">Listen To Album</button>

   </div>
</html>
