
<html>
   <head>
      <!--  Importing Stylesheets / Custom Font-->

      <link href="/static/css/main.css" rel="stylesheet" type="text/css">
      <link href="/static/css/music.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
      <title>Bepop</title>
   </head>
   <!-- Image Background-->

   <body background={{url_for('static', filename="musicback/back_all.png")}}></body>
   <!-- Main UI for page--!>
   <div class="row">
      <div class="section" >
         <!-- Cover -->
         <img src="/static/albumcovers/razorlight.png" alt="razorlight" class="album_cover">
      </div>
      <div class="section2" id="album_info">
         <!-- Info -->

         <h1 class="album_title">Razorlight</h1>
         <h4 class="album_date"> Studio Album  • 2006 • Indie-Rock   </h4>        
         <font size="4" color="red">NME Magazine Rating:  </font>
         <img src="/static/listens/4star.png" alt="rating" width="190" height="52" align="middle">
        <h4 class="album_heading">Album Background</h4>
         <h4 class="album_desc">Razorlight is the self titled second studio album created by Razorlight. The album was released in 2006 and was debuted at number 1 in the UK albums charts. The band achieved their first and only hit from this album, with "America" peaking at the top of the singles chart in October 2006 </h4>
         <h4 class="album_heading">Band Members</h4>
         <div class="band_row">
            <div class="band_section">
               <span class="band">Johnny Borrell</span>
               <span class="band_role">Guitar</span>
            </div>           
            <div class="band_section">
               <span class="band">Andy Burrows</span>
               <span class="band_role">Lead Singer</span>
            </div>
            <div class="band_section">
               <span class="band">Gus Robertson</span>
               <span class="band_role">Guitar</span>
            </div>
            <div class="band_section">
               <span class="band">Carl Dalemo</span>
               <span class="band_role">Bass</span>
            </div>

      </div>
   </div>
</html>
