
<html>
   <head>
      <!--  Importing Stylesheets / Custom Font-->

      <link href="/static/css/main.css" rel="stylesheet" type="text/css">
      <link href="/static/css/music.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
      <title>Bepop</title>
   </head>
   <!-- Image Background-->
   <body background={{url_for('static', filename="musicback/back_all.png")}}></body>
   <!-- Main UI for page--!>
   <div class="row">
      <div class="block" >
         <!-- Cover -->
         <img src="/static/albumcovers/clash1.png" alt="theclash" class="album_cover">
      </div>
      <div class="block2" id="album_info">
         <!-- Info -->
         <h1 class="album_title">The Clash</h1>
         <h4 class="album_date"> London Calling • 1979 • Punk Rock   </h4>        
         <font size="4" color="red">AllMusic Rating:  </font>
         <img src="/static/listens/5star.png" alt="rating" width="190" height="52" align="middle">
        <h4 class="album_heading">Album Background</h4>
        <h4 class="album_desc">Third studio album created by The Clash. It was released as a double album in the UK on 14th December 1979 by CBS records. The album incorporates a range of styles, including punk, reggai, rockabily and hard rock. </h4>
         <h4 class="album_heading">Band Members</h4>
         <div class="band_row">
            <div class="band_block">
               <span class="band">Joe Strummer</span>
               <span class="band_role">Electric Guitar</span>
            </div>           
            <div class="band_block">
               <span class="band">Mick Jones</span>
               <span class="band_role">Lead Singer</span>
            </div>
            <div class="band_block">
               <span class="band">Topper Headon</span>
               <span class="band_role">Drummer</span>
            </div>
            <div class="band_block">
               <span class="band">Paul Simonon</span>
               <span class="band_role">Bass Guitar</span>
            </div>

      </div>
   </div>
</html>



