
<html>
   <head>
      <!--  Importing Stylesheets / Custom Font-->

      <link href="/static/css/main.css" rel="stylesheet" type="text/css">
      <link href="/static/css/music.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
      <title>Bepop</title>
   </head>
   <!-- Image Background-->
   <body background={{url_for('static', filename="musicback/back_all.png")}}></body>
   <!-- Main UI for page--!>
   <div class="row">
      <div class="section" >
         <!-- Cover -->
         <img src="/static/albumcovers/westlife.png" alt="westlife" class="album_cover">
      </div>
      <div class="section2" id="album_info">
         <!-- Info -->
         <h1 class="album_title">Westlife</h1>
         <h4 class="album_date"> Back Home • 2007 • Pop   </h4>        
         <font size="4" color="red">AllMusic Rating:  </font>
         <img src="/static/listens/3star.png" alt="rating" width="190" height="52" align="middle">
        <h4 class="album_heading">Album Background</h4>
        <h4 class="album_desc">Back Home is the eighth studio album created by Westlife released on November 2007. Back Home was the groups final album before their temporary break from music in 2008. </h4>
         <h4 class="album_heading">Band Members</h4>
         <div class="band_row">
            <div class="band_section">
               <span class="band">Nicky Byrne</span>
               <span class="band_role">Lead Singer</span>
            </div>           
            <div class="band_section">
               <span class="band">Kian Egan</span>
               <span class="band_role">Lead Singer</span>
            </div>
            <div class="band_section">
               <span class="band">Mark Feehily</span>
               <span class="band_role">Lead Singer</span>
           </div>
            <div class="band_section">
               <span class="band">Shane Filan</span>
               <span class="band_role">Lead Singer</span>
            </div>

      </div>
		<a href="https://www.musixhub.com/details.php?t=a&a=Westlife&at=Back%20Home" class="album desc">
		<button class = "buttonlink button_border">Listen To Album</button>

   </div>
</html>


