/* Welcome Page */
.gif
{
  
  display: block;
  margin: 0 auto;
}


.vertical-align
{
  position: relative;
  top: 60%;
  transform: translateY(-120%); 
}


#album_info
{
  font-family: 'Oswald', sans-serif;
 
}

.main_text  h1 {

margin: 20px;
margin-top: 45px;
margin-left: 550px;
text-align:center;
border-radius: 25px;
background: black;
color:#00F0B5;
border-style: solid;
border-color:#00F0B5;
border-width: 14px;
width:950px;
font-size: 50px;

}


/* Main Album User Interface */
.item
{

  vertical-align: middle;
  margin-top: 15;
  margin-left: 20;
  padding-left: 25;
  float: left;
  text-align: left;
  width: 15%;

}

.caption
{
  display: block;
  color: white;
}
.caption_date
{
  display: block;
}

.row
{
  margin: 15;
  margin-top: 10;
  width: 100%;
}


