/* Welcome Page */
.gif
{
  
  display: block;
  margin: 0 auto;
}


.vertical-align
{
  position: relative;
  top: 60%;
  transform: translateY(-120%); 
}


#album_info
{
  font-family: 'Oswald', sans-serif;
 
}

.main_text  h1 {

margin: 20px;
margin-top: 45px;

text-align:center;
border-radius: 25px;
background: black;
color:#00F0B5;
border-style: solid;
border-color:#00F0B5;
border-width: 14px;

font-size: 50px;

}


/* Main Album User Interface */
.item
{

  vertical-align: top;
  margin-top: 5;
  margin-left: 20;
  padding-left: 15;
  float: left;
  text-align: left;
  width: 15%;

}

.caption
{
  display: block;
  color: white;
}
.caption_date
{
  display: block;
}

.row
{
  margin: 10;
  margin-top: 5;
  width: 100%;
}

/* 404 error handling customisation*/
.maintext
{

font-size:38;
text-align: center;
margin-top:200;
}

.link1
{
font-size:24;
text-align: center;
margin-top:20;
}

.text
{

text-align:center;

}

.link2
{
font-size:20px;
position:absolute;
top: 500;
right: 142;
}







