/* Movie Page */
#movie_info
{
  font-family: 'Open Sans', sans-serif;
  color: white;
}


.album_title
{
    text-align: left;
    margin: 0;
    margin-top: 35;
    margin-left: 10;
    width: 800px;

}


.album_date
{
    text-align: left;
    margin: 0;
    margin-top: 15;
    margin-left: 10;
    width: 380px;
    float: left;
}

.album_heading
{
  margin: 10;
}

.album_title h1
{

  font-size: 35px
}

.album_title h4
{
  padding-bottom: 10;
}
.album_date
{
  padding-bottom: 10;
  font-size: 18px;

}

.album_cover
{
  margin-left: 40;
  margin-top: 40;
  width: 325px;

}
.block
{
  display: inline-block;
  float: left;
}

.block2
{
  display: inline-block;
  padding: 25;
  float:left;
}

.row
{
  margin: 10;
  width: 100%
}
.row2
{
  margin: 10;
  width: 100%;
}

.row3
{
  margin: 10;
  width: 100%:
}

.rating
{
  text-align: justify;
  padding-bottom: 10;
  margin-top: 15;
  width: 60px;

}

.album_desc
{
  text-align: left;
  margin: 10;
  margin-top: 10;
  width: 800px;
  font-size: 14px;

}

.button {
    background-color: #BD0FE1;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    margin-top: 20px;

    font-size: 12px;

    cursor: pointer;
}

.button_curved
{
  border-radius: 8px;
}

.band
{
  margin-left: 10;


  display: inline-table;
}

.band_role
{
  margin-left: 10;

  display: block;
  color: grey;
}

.band_block
{
  display: inline-table;

}

.band_block_extra
{
  display: inline-table;

  float: left;
}
.band_row
{
  text-align: left;
  width: 100%;
}
